![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [87]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
price = pd.read_csv("data/airbnb_price.csv")
room_type = pd.read_excel("data/airbnb_room_type.xlsx")
last_reviews = pd.read_csv("data/airbnb_last_review.tsv", delimiter="\t")

In [88]:
price.head(5)

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [89]:
room_type.head(5)

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [90]:
last_reviews.head(5)

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [91]:
last_reviews['datetime'] = pd.to_datetime(last_reviews['last_review'], format="%B %d %Y")
earliest = last_reviews['datetime'].min()
most_recent = last_reviews['datetime'].max()

In [92]:
df_earliest = last_reviews[last_reviews['datetime'] == earliest]
df_most_recent = last_reviews[last_reviews['datetime'] == most_recent]

In [93]:
room_type['room_type'] = room_type['room_type'].agg(str.lower)
private_rooms = room_type[room_type['room_type'] == 'private room']
n_private_rooms = private_rooms['room_type'].count()

In [94]:
avg_price = price['price'].str.replace(' dollars', '').astype("int32").mean()

In [95]:
review_dates = pd.DataFrame(
    {"first_reviewed" : [earliest],
    "last_reviewed" : [most_recent],
    "nb_private_rooms" : [n_private_rooms],
    "avg_price" : [avg_price]}
)